h1{
	color: white;
}

body{

	background-color: black;
	max-width: 500px;

}

 #box1 {

	position: relative;
	background-color: white;
	width: 5%;
	height: 10px;
	padding: 30px;
	border: 1px;
	margin-top: 60px;
	margin-left: 10px;
}

 #box2 {
	position: relative;
	background-color: white;
	width: 5%;
	height: 10px;
	padding: 30px;
	border: 1px;
	top: 50px;
	margin-left: 10px;
}

